body {
  background-color: #FAF7EE;
  color: #333333;
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  font-size: 3em;
  font-weight: 700;
}

h3 {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.4;
}

.author {
  font-size: .9em;
}

figcaption {
  font-style: italic;
}

a {
  text-decoration: none;
  color: rgba(255,255,255,.5);
  transition: ease-in-out all .3s;
}

a:hover {
  color: rgba(255,255,255,1);
}

nav {
  background-color: rgba(0,0,0,.5);
  color: #fff;
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
